# Core
fastapi
uvicorn
pydantic
loguru
PyYAML
Pillow
openai

# Memory
agentscope
reme-ai[light]==0.3.1.8

# Document processing
# defusedxml
# lxml
# openpyxl
# pdf2image
# pdfplumber
# pypdf

# ASR and TTS
edge-tts
sherpa-onnx

# Gateway
qq-botpy
python-telegram-bot
